.affiliate-notification-dashboard .notification-list-container{
    margin: 10px 0 0 10px;
}

.affiliate-notification-dashboard .notification-list-item .item-title{
    display: block;
    border-style: solid;
    border-width: 0px;
    border-color: #cccccc;
    border-bottom-width: 1px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.8125rem;
}

.affiliate-notification-dashboard .notification-list-item .item-title a{
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    text-decoration: none;
    color: #636363;
}

.affiliate-notification-dashboard .notification-list-item{
    margin-top: 1em;
}